<ion-view view-title="Usuario">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="usuario in usuarios" type="item-text-wrap" href="#/tab/pasteles/{{usuario.id}}">
        <img ng-src="{{usuario.foto}}">
        <h2>{{usuario.nombre}} {{usuario.apellido}}</h2>
        {{usuario.edad}} años
        <br>
        {{usuario.correo}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
